@font-face
	src url(../fonts/segoe.ttf)
	font-family 'seoge'
	
@font-face
	src url(../fonts/segoe-clara.ttf)
	font-family 'clara'

@font-face
	src url(../fonts/segoe-negrita.ttf)
	font-family 'negrita'
	
@font-face
	src url(../fonts/segoe-negra.ttf)
	font-family 'negra'
	
@font-face
	src url(../fonts/segoe-seminegrita.ttf)
	font-family 'seminegrita'

*
	scroll-behavior: smooth
	font-family seoge
	
// h2
// 	font-family 'Poppins', sans-serif
// 	font-family seoge-negrita
p
	color var(--c-text)
	// line-height 1.9em
	
section
	transition all 5s
	width 100%
	padding 80px 0
	&:nth-child(odd)
		background-color #c1c1c1
	&:first-child
		padding-bottom 0px
body
	font-family seoge
	transition all 2s