@font-face
	src url(../fonts/segoe.ttf)
	font-family 'seoge'
	
@font-face
	src url(../fonts/segoe-clara.ttf)
	font-family 'clara'

@font-face
	src url(../fonts/segoe-negrita.ttf)
	font-family 'negrita'
	
@font-face
	src url(../fonts/segoe-negra.ttf)
	font-family 'negra'
	
@font-face
	src url(../fonts/segoe-seminegrita.ttf)
	font-family 'seminegrita'

@font-face
	src url(../fonts/segoe-light.ttf)
	font-family 'delgada'

*
	scroll-behavior: smooth
	
// h2
// 	font-family 'Poppins', sans-serif
// 	font-family seoge-negrita
p
	color var(--c-text)
	line-height 31px
	font-family seoge
	font-size 18px
	margin-top 16px
	margin-bottom 24px
	
section
	transition all 5s
	width 100%
	padding 65px 0
	&:nth-child(odd)
		background-color #f7f7f7
	&:first-child
		padding-bottom 0px
body
	font-family seoge
	// transition all 2s