.footer
	background-color #222
	color #fff
	text-align center
	font-size 15px
	letter-spacing 2px
	line-height 1.5
	padding 10px 0
	&__content
		height 250px
		@media screen and (max-width 768px)
			height auto
	&__copy
		border-top 1px solid #ccc
		display block
		padding 10px
	&__item
		text-align left
		padding 0 20px
		letter-spacing 1px
		span
			color var(--c-primary)
			margin-right 10px
		a
			display block
			color var(--c-white)
			margin 10px 0
		p
			font-size 14px
			color var(--c-white)
	&__title
		margin 0px 0