.btn
	padding 12px 15px
	display inline-block
	width auto
	text-align center
	border-radius 2px
	letter-spacing 2px
	margin 16px auto
	color var(--c-white)
	&-primary
		background-color var(--c-primary)
	&-secondary
		background-color transparent
		border 2px solid var(--c-white)
		border-radius 4px
		margin 0 10px
		margin-top 20px
		&:hover
			border 2px solid var(--gray)
			color var(--gray)