.card
	padding 10px 20px
	&__number
		// background-color var(--c-primary)
		// padding 10px
		border-radius 50%
		width 30px
		height 30px
		display flex
		align-items center
		justify-content center
		color var(--c-primary)
		font-size 32px
	&__title
		font-family seminegrita
		// letter-spacing 1px
		// padding 10px 0
		font-size 28px
		color #212529
		.color
			color var(--c-primary)
	&__price
		font-size 30px
		// font-family poppins-black
		margin 5px 0 20px 0
		color var(--c-text)
		&:before
			content 'S/'
			margin-right 5px
	&__text
		// letter-spacing 1px
		font-size 16px
		text-align justify
	&__button
		background-color var(--c-primary)
		color var(--c-white)
		padding 12px 15px
		display inline-block
		width auto
		text-align center
		border-radius 2px
		letter-spacing 2px
		margin-bottom 16px
		border 2px solid var(--c-primary)
		transition all .3s
		&:hover
			text-decoration none
			background-color var(--c-white)
			color var(--c-primary)
			border 2px solid var(--c-primary)
	&__icon
		color var(--c-white)
		font-size 40px
		background-color var(--c-primary)
		width 100px
		height 100px
		border-radius 50%
		display flex
		justify-content center
		align-items center
		margin auto
		margin-bottom 30px
	&.price
		border 1px solid #ccc
		border-radius 10px
		text-align center
		padding 40px 20px
		background-color #fff
		.card__text
			text-align center
	&.imagen
		border 1px solid #ccc
		text-align end
		padding 5px
		background-color rgba(#fff)
		transition all .3s
		// box-shadow 1px 1px 10px #222
		.card__title
			color var(--c-text)
			margin-bottom 10px
			text-align start
			// color #fff
		.card__text
			font-size 14px
			line-height 1.5
			margin 14px 0
		.card__button
			margin 0
			text-align end
		// &:hover
		// 	transform translateY(-20px)
	&.text
		.card__title
			font-size 16px
			font-family negrita
			text-transform capitalize
		