.fix
	position relative
	text-align center
	padding 0 20px
	&__title
		z-index 9
		color var(--c-white)
		font-family poppins-medium
		font-size 40px
		margin-bottom 40px
		@media screen and (max-width 768px)
			font-size 30px
	&__text
		z-index 99
		color var(--c-white)
		font-family sans-light
		font-size 20px
		@media screen and (max-width 768px)
			font-size 16px