.form
	padding 20px
	&__title
		font-size 24px
		margin-bottom 30px
	&__label
		color var(--c-text)
		margin-top 5px
		display block
	&__input
		width 100%
		background-color #F4F0FE
		padding 10px 15px
		margin 10px 0