.social
	display flex
	height 100%
	align-items center
	width 150px
	justify-content space-around
	&__item
		color #fff
		font-size 20px
		transition color .3s
		&:hover
			color var(--c-primary)
	@media screen and (max-width 768px)
		width 100%
		padding 30px 0